@page "/konfirmasi_pesanan"
@inject IKonfirmasiPesananService KonPesanananservice
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "True")]
<PageTitle> Konfirmasi Pesanan</PageTitle>
<h3> Konfirmasi Pesanan</h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Gambar</th>
            <th>Nama Pengguna</th>
            <th>Alamat</th>
            <th>Email</th>
            <th>Nomor Telepon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var konPesanans in KonPesanananservice.konfirmasiPesanans)
        {
            <tr>
                <td>@konPesanans.IdPesanan</td>
                <td>@konPesanans.BankTransfer</td>
                <td>@konPesanans.JumlahTransfer</td>
                <td>@konPesanans.TglTransfer</td>
                <td>
                
                </td>
            </tr>

        }
    </tbody>
</table>

@code{
    protected override async Task OnInitializedAsync()
    {
        await KonPesanananservice.GetAllKonfirmasi();
    }
}
