@inject IKategoriService KategoriService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EComm_2011501158</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <!-- Halaman Admin -->
        <AuthorizeView Roles="True">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="master_varian">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Master Varian
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="master_kategori">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Master Kategori
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="master_produk">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Master Produk
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="master_pengguna">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Master Pengguna
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manajemen-pesanan">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Data Pesanan
            </NavLink>
        </div>
        <li class="dropdown-divider">

        </li>
        @foreach (var kat in KategoriService.Kategoris)
        {
            <div class="nav-item px-3">
                <NavLink class=" nav-link" href="@kat.Nama">
                    <span class="oi oi-book" aria-hidden="true"></span>@kat.Nama
                </NavLink>
            </div>
        }
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await KategoriService.GetAllKategori();
    }
}
