@page "/master_varian"
@inject IVarianService VarianService
@inject NavigationManager NavigationManager
<h3>ManajemenDataVarian</h3>
<br />
<button class=" btn btn-primary" @onclick="TambahVarian">Tambah Varian</button>
<br />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nama Varian</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vr in VarianService.Varians)
        {
            <tr>
                <td>@vr.IdVarian</td>
                <td> @vr.Nama</td>
                <td> <button class="btn btn-primary" @onclick="(()=> ShowVarian(vr.IdVarian))"> Edit </button></td>
            </tr>

        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await VarianService.GetAllVarian();
    }
    void ShowVarian(int id) => NavigationManager.NavigateTo($"manajemenvarian/edit/{id}");
    void TambahVarian()
    {
        NavigationManager.NavigateTo("/manajemenvarian/tambah");
    }
}
